/*
 * Some additional css for the landing page of dog.com
 *
 */

@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.front {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	background:#202020;
}

/* Remove Dotted Line Around Link */
.front a {
   outline: 0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    font-size: 2.75rem;
}

.share-bar {
    text-align: center;
    background: #404040;
    color: #fff;
    padding: 6px 15px 8px;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.share-bar a {
        font-weight: 700;
        color: #87ceeb;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }

}

.share-bar span {
        margin-left: 5px;
        font-size: 0.8rem;
}

/* *********************************************
* This notice MUST stay intact for legal use.
* This script was created for FREE CSS Menus.
* Visit: www.freecssmenus.co.uk for more CSS.
* Also visit our Free online menu creator.
************************************************ */
/* credits:www.freecssmenus.co.uk */

.tag-menu{
  margin-bottom: 0.5rem;
}

.tag-menu ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tag-menu ul li{
  display: inline;
  padding-right: 5px;
}

.tag-menu ul li a{
    background: #404040;
    display: inline-block;
    padding: 3px 0 6px;
    margin-bottom: 5px;
    color: #87ceeb;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}

.tag-menu ul li a:hover{
  color: #fff;
}

.tag-menu ul li a.active {
  color: #fff;
  font-weight: bold;
}

.tag-wrapper {
    padding: 0 0.6em;
}

.tweet {
    margin-top: 10px;
}

.tweet-button {
    font-size: 0.8rem;
    color: #fff;
    background: #2897d9;
    padding: 2px 15px;
    border-radius: 5px;
}

/*
 * http://isabelcastillo.com/error-info-messages-css
 *
 */
 
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 20px 0px;
    padding:12px;
    border-radius:.5em;
    position: relative;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    font-size:2rem;
    left: 20px;
    top: 10px;
		position: absolute;
}

.isa_info p, .isa_success p, .isa_warning p, .isa_error p {
    padding: 0 0 0 65px;
    margin-bottom: 0.25rem;
}

