/*
 * Some additional css for the landing page of dog.com
 *
 */

@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.front {
	text-align: center;
	background:#202020;
}

/* Remove Dotted Line Around Link */
.front a {
   outline: 0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    font-size: 2.75rem;
}

.share-bar {
    text-align: center;
    background: #404040;
    color: #fff;
    padding: 6px 15px 8px;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.share-bar a {
    font-weight: 700;
    color: #87ceeb;
    margin-left: 10px;
}

.share-bar a:hover {
    border-bottom: 1px dashed #fff;
    text-decoration: none;
    color: #FF66CC;
}

.share-bar span {
        margin-left: 5px;
        font-size: 0.8rem;
}

/* *********************************************
* This notice MUST stay intact for legal use.
* This script was created for FREE CSS Menus.
* Visit: www.freecssmenus.co.uk for more CSS.
* Also visit our Free online menu creator.
************************************************ */
/* credits:www.freecssmenus.co.uk */

.tag-menu{
    margin-bottom: 0.5rem;
    text-align: center;
}

.tag-menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tag-menu ul li{
    display: inline;
    padding-right: 5px;
}

.tag-menu ul li a{
    color: #87ceeb;
}

.tag-menu ul li a:hover{
    color: #FF66CC;
}

.tag-menu ul li a.active {
    color: #fff;
    font-weight: bold;
}

.tag-menu ul li span{
    display: inline-block;
    position: relative;
    background: #404040;
    padding: 4px 0.5rem;
    margin-bottom: 5px;
    border-radius: 5px;

}

@media (min-width: 48em) {
    .tag-menu {
          text-align: left;
    }
}

.tag-wrapper {
    padding: 0 0.6em;
}

.tweet {
    margin-top: 10px;
}

.tweet-button {
    font-size: 0.8rem;
    color: #fff;
    background: #2897d9;
    padding: 2px 15px;
    border-radius: 5px;
}

/*
 * http://isabelcastillo.com/error-info-messages-css
 *
 */
 
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 20px 0px;
    padding:12px;
    border-radius:.5em;
    position: relative;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    font-size:2rem;
    left: 20px;
    top: 10px;
		position: absolute;
}

.isa_info p, .isa_success p, .isa_warning p, .isa_error p {
    padding: 0 0 0 65px;
    margin-bottom: 0.25rem;
}

.page-message {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

@media (min-width: 48em) and (min-height: 32em) {
  .page-message {
    text-align: left;
  }
}

.project-title {
  color: #0EBFE9;
  font-family: 'Audiowide', cursive;
  font-size: 1.5rem;
  font-weight: normal;
}

.project-def {
    background: #eee;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 1px 1px 0 white, 0 1px 1px 0
}

.project-def dl { 
    border: 3px double #ccc;
    padding: 0.5em;
}

.project-def dt {
    text-align: center;
    font-weight: bold;
    color: #F52887;
    margin-left: 2px;
}

.project-def dt:after {
    content: ":";
}

.project-def dd {
    margin: 2px;
    padding: 0 0 0.5em 0;
    text-align: center;
}

@media (min-width: 48em) {
    .project-def dt {
        float: left;
        clear: left;
        width: 6rem;
        text-align: right; 
    }
}

@media (min-width: 48em) {
    .project-def dd {
        margin: 0 0 0 6.5rem;
        text-align: left;
    }
}

h1.one {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
    color: #F52887;
    text-shadow: 1px 1px 0px #555;
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
}

h1.one:before {
    content: "";
    display: block;
    border-top: solid 1px #0099CC;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

h1.one span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

@media (min-width: 48em) {
    h1.one {
          font-size: 1.75rem;
    }
}



