<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <p class="m-0 text-center">Copyright &copy; Data Only Greater 2018</p>
    <p class="m-0 text-center"><a href="{{ site.baseurl }}/privacy">Privacy Policy</a></p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap -->
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/jquery-easing/dist/jquery.easing.1.3.umd.min.js' | prepend: site.baseurl}}"></script>
<script src="{{ site.baseurl }}/public/js/scrolling-nav.js"></script>

